:host {
  display: block;
  height: calc(100vh - 21vh);
  overflow-y: auto;
}

.row {
  margin-bottom: 0;
}

ul.tracks-list {
  background-color: #FBFBFB;
  box-shadow: 0px 0px 0px 1px #DADADA;
  margin: 0;
  padding-yop: 10px;
}

@media screen and (min-width: 600px) {
  ul.tracks-list {
    top: 230px;
  }
}

.card {
  background-color: #efefef;
}

.title-container {
  padding-left: 65px;
}
