<section *ngIf="tracksStore.tracks$ | async">

  <pagination [config]="config"></pagination>

  <ul class="tracks-list">
    <li class="row" *ngFor="let track of (tracksStore.tracks$ | async | tracksPipe: dynamicFilter | paginate: config)">
      <div class="col s12">
        <div class="card">
          <div class="card-content blue-grey-text text-darken-3">
            <track-buffer [track]="track"></track-buffer>
            <div class="title-container">
              <span class="card-title">{{track.displayName}}</span>
            </div>
            <p>{{track.created_at | hebDatePipe}}</p>
            <play-button [track]="track"></play-button>
            <waveform [track]="track"></waveform>
          </div>
        </div>
      </div>
    </li>
  </ul>

</section>
