<section *ngIf="!(tracksStore.tracks$.isEmpty() | async)">

  <pagination-controls *ngIf="isPaginationReady" (pageChange)="config.currentPage = $event" #p>
    <ul class="pagination">
      <li (click)="p.previous()" [class.disabled]="p.isFirstPage()" class="waves-effect">
        <a><i class="material-icons">chevron_right</i></a>
      </li>
      <li *ngFor="let page of p.pages" (click)="p.setCurrent(page.value)"
          [ngClass]="{'active' : p.getCurrent() === page.value}" class="waves-effect">
        <a>{{ page.label }}</a>
      </li>
      <li (click)="p.next()" [class.disabled]="p.isLastPage()" class="waves-effect">
        <a><i class="material-icons">chevron_left</i></a>
      </li>
    </ul>
  </pagination-controls>

  <ul class="tracks-list">
    <li class="row" *ngFor="let track of (tracksStore.tracks$ | async | tracksPipe: dynamicFilter | paginate: config)">
      <div class="col s12">
        <div class="card">
          <div class="card-content blue-grey-text text-darken-3">
            <track-buffer [track]="track"></track-buffer>
            <div class="title-container">
              <span class="card-title">{{track.displayName}}</span>
            </div>
            <p>{{track.created_at | hebDatePipe}}</p>
            <play-button [track]="track"></play-button>
            <waveform [track]="track"></waveform>
          </div>
        </div>
      </div>
    </li>
  </ul>

</section>
